/************************
 *
 * title       : Designersportfolio
 * description : SGE designer's portfolio
 * 
 ************************/
@import url(http://fonts.googleapis.com/css?family=Roboto);
/************************
 *
 * base
 *
 ************************/
body
{
    font-family: 'Roboto', sans-serif;

    background-color: #e9e9e9;
}

a
{
    text-decoration: none;
}

.popup_wrap
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .7);
}
.popup_wrap .drag
{
    font-size: 40px;
    font-weight: bold;

    margin-top: 100px;

    text-align: center;

    color: white;
}
.popup_wrap .detail_wrap
{
    width: 956px;
    margin: 20px auto;
}
.popup_wrap .detail_wrap .left
{
    float: left;

    width: 720px;
    margin-right: 10px;
}
.popup_wrap .detail_wrap .left .main_wrap
{
    width: 100%;

    border-radius: 4px;
    background-color: #f9f9f9;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info
{
    height: 73px;

    border-bottom: 1px solid #d5d5d5;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .title
{
    font-size: 20px;
    font-weight: bold;
    line-height: 68px;

    margin-left: 10px;

    color: #414040;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .icon_wrap
{
    float: right;
    clear: both;

    margin: 28px 170px 0 0;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .icon_wrap a
{
    color: gray;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .icon_wrap a:hover
{
    color: white;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .icon_wrap p
{
    font-weight: bold;

    position: relative;

    float: left;

    margin-left: 35px;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .icon_wrap .favorite:before
{
    position: absolute;
    left: -25px;

    width: 19px;
    height: 19px;

    content: '';

    background: url('../images/favorite.png') no-repeat;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .icon_wrap .watch:before
{
    position: absolute;
    left: -28px;

    width: 27px;
    height: 19px;

    content: '';

    background: url('../images/watch.png') no-repeat;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .iine
{
    position: relative;

    float: right;
    clear: both;

    width: 148px;
    height: 48px;
    margin-top: -32px;
    margin-right: 12px;

    border: 1px solid black;
    border-radius: 4px;
    background-color: #d24f7d;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .iine a
{
    display: block;

    width: 138px;
    height: 34px;
    padding-top: 15px;
    padding-left: 10px;

    text-align: center;

    color: white;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .iine a:before
{
    position: absolute;
    left: 30px;

    width: 19px;
    height: 19px;

    content: '';

    background: url('../images/favorite.png') no-repeat;
}
.popup_wrap .detail_wrap .left .main_wrap .main_info .iine a:hover
{
    color: white;
}
.popup_wrap .detail_wrap .left .main_wrap .image_wrap
{
    height: 622px;

    border-bottom: 2px solid gray;
    border-radius: 4px;
}
.popup_wrap .detail_wrap .left .main_wrap .image_wrap .image
{
    display: block;

    margin: 10px auto;
}
.popup_wrap .detail_wrap .left .comment_wrap
{
    height: auto;
    margin-top: 10px;
    padding: 10px;

    border-radius: 4px;
    background-color: #f9f9f9;
}
.popup_wrap .detail_wrap .left .comment_wrap a
{
    color: #535353;
}
.popup_wrap .detail_wrap .left .comment_wrap a:hover
{
    color: black;
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment
{
    height: 145px;

    border-bottom: 1px solid gray;
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment .user_icon
{
    float: left;

    width: 90px;
    height: 90px;

    border-radius: 45px;
    background-image: url('../images/watch.png');
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment .user_info .user_wrap
{
    font-size: 20px;

    float: left;

    margin-top: 32px;
    margin-left: 12px;
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment .user_info .user_wrap .name
{
    font-weight: bold;

    float: left;
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment .user_info .user_wrap .project a
{
    margin-left: 10px;
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment .user_info .user_wrap .tag_wrap
{
    float: left;
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment .user_info .user_wrap .tag_wrap .tag
{
    font-size: 14px;

    float: left;

    margin: 4px;
    padding: 5px;

    border-radius: 2px;
    background-color: #e3e3e3;
}
.popup_wrap .detail_wrap .left .comment_wrap .detail_comment .user_info .user_wrap .comment
{
    font-size: 16px;

    width: 598px;
    margin-top: 10px;
}
.popup_wrap .detail_wrap .left .comment_wrap .other_comment
{
    clear: both;

    height: 110px;
    padding-top: 10px;

    border-bottom: 1px solid gray;
}
.popup_wrap .detail_wrap .left .comment_wrap .comment_input
{
    padding-top: 10px;

    border: none;
}
.popup_wrap .detail_wrap .left .comment_wrap .comment_input .user_info .user_wrap
{
    margin-top: 10px;
}
.popup_wrap .detail_wrap .left .comment_wrap .comment_input .user_info .user_wrap .project
{
    float: left;
}
.popup_wrap .detail_wrap .left .comment_wrap .comment_input .user_info .user_wrap .input_text
{
    clear: both;

    padding-top: 10px;
}
.popup_wrap .detail_wrap .left .comment_wrap .comment_input .user_info .user_wrap .input_text textarea
{
    font-size: 22px;
    font-weight: bold;

    width: 590px;
    height: 75px;

    border: 1px solid gray;
    border-radius: 4px;
}
.popup_wrap .detail_wrap .right
{
    float: right;

    width: 226px;
}
.popup_wrap .detail_wrap .right .show_window
{
    width: 100%;
    height: 230px;

    background-color: red;
}
.popup_wrap .detail_wrap .right .show_window:not(:nth-child(1))
{
    margin-top: 10px;
}

header
{
    width: 100%;
    height: 70px;

    background-color: #1f2f36;
}
header .header_wrap
{
    width: 1000px;
    margin: 0 auto;
}
header .header_title
{
    font-size: 34px;
    line-height: 64px;

    float: left;

    color: white;
}
header .header_title a
{
    color: white;
}
header .header_title a:hover
{
    color: gray;
}
header .right_wrapper
{
    float: right;
}
header .right_wrapper p
{
    font-size: 20px;
    line-height: 64px;

    float: left;

    margin-right: 10px;

    color: gray;
}
header .right_wrapper p a
{
    color: gray;
}
header .right_wrapper p a:hover
{
    color: white;
}
header .right_wrapper .search
{
    position: relative;

    display: inline-block;
}
header .right_wrapper .search:after
{
    position: absolute;
    bottom: 3px;
    left: 5px;

    width: 32px;
    height: 35px;

    content: '';

    background: url('../images/search.png') no-repeat;
}
header .right_wrapper .search input[type='text']
{
    font-size: 20px;

    width: 220px;
    height: 38px;
    margin-top: 15px;
    padding-left: 40px;

    border: 0;
    border-radius: 4px;
}

.wrapper
{
    clear: both;

    width: 1000px;
    height: 100%;
    margin: 20px auto;
}
.wrapper .topix
{
    height: 198px;

    border: solid 1px gray;
    border-bottom: solid 3px gray;
    border-radius: 3px;
    background: url(../images/special.png);
}
.wrapper .topix a
{
    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    white-space: nowrap;
    text-indent: 100%;
}
.wrapper .entry_wrap
{
    width: 100%;
    margin-top: 20px;
}
.wrapper .entry_wrap a
{
    color: black;
}
.wrapper .entry_wrap a:hover
{
    color: gray;
}
.wrapper .entry_wrap .entry
{
    float: left;

    width: 238px;
    height: 100%;
    margin: 12px 12px 0 0;

    border: solid 1px gray;
    border-bottom: solid 3px gray;
    border-radius: 3px;
    background-color: white;
}
.wrapper .entry_wrap .entry:nth-child(4n+4)
{
    margin: 0;
    margin-top: 12px;
}
.wrapper .entry_wrap .entry .image
{
    width: 238px;

    border-bottom: solid 1px gray;
}
.wrapper .entry_wrap .entry .image a
{
    display: block;

    width: 100%;
    height: 100%;
}
.wrapper .entry_wrap .entry .entry_content
{
    margin: 20px 10px;
}
.wrapper .entry_wrap .entry .entry_content .entry_title
{
    font-weight: bold;

    color: #535353;
}
.wrapper .entry_wrap .entry .entry_content .entry_comment
{
    margin: 10px;
}
.wrapper .entry_wrap .entry .entry_content .tag_wrap
{
    display: block;

    height: 100%;
}
.wrapper .entry_wrap .entry .entry_content .tag_wrap .tag
{
    float: left;

    margin: 4px;
    padding: 5px;

    border-radius: 2px;
    background-color: #e3e3e3;
}
.wrapper .entry_wrap .entry .entry_content .icon_wrap
{
    float: right;
    clear: both;

    margin: 10px 0;
}
.wrapper .entry_wrap .entry .entry_content .icon_wrap p
{
    font-weight: bold;

    position: relative;

    float: left;

    margin-left: 35px;
}
.wrapper .entry_wrap .entry .entry_content .icon_wrap .favorite:before
{
    position: absolute;
    left: -25px;

    width: 19px;
    height: 19px;

    content: '';

    background: url('../images/favorite.png') no-repeat;
}
.wrapper .entry_wrap .entry .entry_content .icon_wrap .watch:before
{
    position: absolute;
    left: -28px;

    width: 27px;
    height: 19px;

    content: '';

    background: url('../images/watch.png') no-repeat;
}
.wrapper .entry_wrap .entry .entry_user
{
    float: left;
    clear: both;

    width: 218px;
    padding: 10px;

    border-top: solid 1px gray;
}
.wrapper .entry_wrap .entry .entry_user .left
{
    float: left;
}
.wrapper .entry_wrap .entry .entry_user .left .image
{
    width: 50px;
    height: 50px;

    border-radius: 25px;
}
.wrapper .entry_wrap .entry .entry_user .left .image a
{
    display: block;

    width: 100%;
    height: 100%;
}
.wrapper .entry_wrap .entry .entry_user .right
{
    font-family: 'Roboto', sans-serif;

    float: left;

    margin-left: 10px;

    text-align: left;
}
.wrapper .entry_wrap .entry .entry_user .right .name
{
    float: left;

    margin: 6px 0;
}
.wrapper .entry_wrap .entry .entry_user .right .project
{
    float: left;
    clear: both;
}
